<html ng-app="hollaApp">
<head>
  <title>Holla Talk</title>
  <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type='text/javascript' src='/static/js/lib/angular.js'></script>
  <script type='text/javascript' src='/static/js/lib/angular-route.js'></script>
  <script type='text/javascript' src='/static/js/lib/jquery-1.11.3.js'></script>
  <script type='text/javascript' src='/static/js/lib/materialize.js'></script>
  <script type="text/javascript" src = "../static/js/factories.js"></script>
  <script type="text/javascript" src = "../static/js/socketFactory.js"></script>
  <script type="text/javascript" src = "../static/js/routes.js"></script>
  <script type="text/javascript" src = "../static/js/controllers.js"></script>
  <link rel="shortcut icon" href="./../../icons/favicon.ico" type="image/x-icon">
  <link rel="icon" href="./../../icons/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="stylesheet" href="../static/css/lib/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class = 'container row' ng-controller ="loginController as loginCtrl">
    <div id="header" class ="row" ng-show='loginCtrl.user'>
      <a class = "col s2 waves-effect waves-light btn orange darken-4" href="#/main" ng-click="loginCtrl.closeChatroom()">Friend List</a>
      <a class = "col s2 offset-s2 waves-effect waves-light btn orange darken-4" href="#/addFriend" ng-click="loginCtrl.closeChatroom()">Add friend</a>
      <a class = "col s2 offset-s2 waves-effect waves-light btn indigo darken-1" ng-click="loginCtrl.logout()">Log out</a>
    </div> <!-- header ends  -->
    <div ng-view="">
    </div>
</div><!-- container ends -->
</body>
</html>