*{
	margin: 0px;
	padding: 0px;
}
.login{
	margin-top: 100px;
}
#messageContainer {
	color: black;
	padding: 10px;
	background-color: white;
	border-radius: 20px;
}
	#messages {
		width: 70%;
		height: 600px;
		color: black;

	}
	.friend {
		color: green;
	}
	.self{
		color: red;
	}
input:focus {
border-bottom: 1px solid #e65100 !important;
box-shadow: 0 1px 0 0 #e65100 !important;
}

/*.input{
	background-color: white;
	border-radius: 10px;
}*/
body{
	color:white;
	background-color: rgb(58,77,128);
}

/*::-webkit-scrollbar {
      width: 15px;
} /* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-track {
      background-color: #b46868;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
      background-color: #7c2929;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
      background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
*/