<div id='chatroom'>
	<div>
		<a class="waves-effect waves-light btn orange darken-4" href="#/">Friend List</a>
	</div>
	<h1>Chat with the friend</h1>
	<div id='messageContainer'>
		<div id="messages">
			<p ng-bind="chatCtrl.test"></p>
		</div>
		<form novalidate>
			<input type="text" name = "message" ng-model="chatCtrl.message" ng-required="true" formnovalidate autocomplete="off">
			<button ng-click="chatCtrl.sendMessage()" class="waves-effect waves-light btn orange darken-4">Send</button>
		</form>
	</div><!-- end message container -->
</div>