<div id='chatroom'>
	<h1 ng-bind= "chatCtrl.chatroomInfo.sendTo.name">Chat with the friend</h1>
	<div id='messageContainer'>
		<div id="messages">
			<div ng-repeat="message in chatCtrl.conversation" class = "row message" id={{message._id}}>
				<div class = {{message.from}}><p><span ng-bind="message.name"></span> : </p><p ng-bind = "message.message" ></p></div>
			</div>
		</div>
		<form novalidate>
			<input type="text" name = "message" ng-model="chatCtrl.message" ng-required="true" formnovalidate autocomplete="off">
			<button ng-click="chatCtrl.sendMessage()" class="waves-effect waves-light btn orange darken-4">Send</button>
		</form>
	</div><!-- end message container -->
</div>