  <div class="col s4 offset-s4 login">
    <form name="loginForm" >
<!--       Enter your Name<br>
      <input type="text" ng-model = 'loginCtrl.loginInfo.name'
        ng-required="true"><br> -->
      Enter your phone number<br>
      <input type="text" ng-model = 'loginCtrl.loginInfo.phoneNumber' 
        name="phoneNumber"
        ng-required="true"
        ng-minlength='10'
        maxlength='10'
        required><br>
      Enter your passwords<br>
      <input type="password" ng-model = 'loginCtrl.loginInfo.password' 
        name ="password"
        ng-required="true"
        ng-minlength='2'
        required><br>
      <button ng-click='loginCtrl.login(loginCtrl.loginInfo)' ng-disabled='loginForm.$invalid' class="waves-effect waves-light btn orange darken-4">Log-in</button><br>
    </form>
      <br>
      <button ng-click='loginCtrl.create()' class="waves-effect waves-light btn orange lighten-1">Create an Acount</button>
    <br>
    <!-- this will dissapear if passes validation -->
    <div ng-show='loginForm.phoneNumber.$invalid'>
      <p>The phone number has to be 10 digits.</p>
    </div>
    <div ng-show='loginForm.password.$invalid'>
      <p>The password has to be more than 2 digits.</p>
    </div>
  </div> <!-- it will only show if the user is not logged in -->